<html>
	<head>
		<title>Сайт для любителей кошек</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/recources/style_site.css">
		<script src="/recources/staticMenu.js"></script>
		<style>
			@media (max-width: 768px) {
				.noDisplayOnSmallScreen {
					display: none;
				}
				.mainContent {
					margin-left: 5px;
				}
			}
		</style>
	</head>
	<body>
		<!-- header block -->
		<header>
			<img id="headerImage" src="/recources/img/header.jpg"  width="100%">
		</header>
		
		<!-- menu block -->
		<div class="leftUnmovedMenu noDisplayOnSmallScreen" id="leftToolbar">
			<menu >
				<li><a href="/home" >Главная страница </a></li>
				<% data.forEach(function(datum) {%>
					<li>
						<a href="/<%= datum.en_name %>"><%= datum.name %></a>
					</li>
				<% }); %>
			</menu>
		</div>
		
		<!-- content block -->
		<div class="mainContent">
			<div class="bigText"> Сайт для любителей кошек. Здесь вы можете найти все интересющие вас породы.</div><br/>
			<% data.forEach(function(datum) {%>
				<div class="content">
					<image class="contentImage" src ="<%= datum.imagepath %>">
					<h5><%= datum.name %></h5>
					<span class="catDescription" ><%= datum.smalldescription %></span>
					<span class="contentLink"><a href="/<%= datum.en_name %>">Узнать больше об этой породе →</a></span>
				</div>
				<br/>
			<% }); %>
		</div>
	</body>
</html>