<html>
	<head>
		<title>Сайт для любителей кошек</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/recources/style_site.css">
		<script src="/recources/staticMenu.js"></script>
		<script src="/recources/addNdel.js"></script>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular&subset=Latin,Cyrillic">
	</head>
	<body>
		<!-- header block -->
		<header>
			<img id="headerImage" src="/recources/img/header.jpg"  width="100%">
		</header>
		
		<!-- menu block -->
		<div class="leftUnmovedMenu noDisplayOnSmallScreen noDisplayOnMobileDevice" id="leftToolbar">
			<ul id="navbar">
				<li><a href="/home" >Главная страница </a></li>
				<% data.forEach(function(datum) {%>
					<li>
						<a href="/<%= datum.en_name %>"><%= datum.name %></a>
					</li>
				<% }); %>
			</ul>
		</div>
		
		<!-- content block -->
		<div id="mainContentId" class="mainContent">
			<% data.forEach(function(datum) {%>
				<div class="content" id="<%= datum.en_name %>">
					<image class="contentImage" src ="<%= datum.imagepath %>">
					<h5><%= datum.name %></h5>
					<span class="catDescription" ><%= datum.smalldescription %>
					<br/>
					<span class="contentLink"><a href="/<%= datum.en_name %>">Узнать больше →</a></span></span>
				</div>
				<br/>
			<% }); %>
			<div id="addNeccessaryDivsHere"></div>
			<br/>
			<div id="addSpoiler" class="spoiler">
				<input type="checkbox" >Добавить породу.		
				<div class="content" id="addYourBreed" >
					<image class="contentImage" src ="/recources/img/300x300.png">	
					<br/>
					<p><input placeholder="Имя породы" id="breedName" required></p>
					<br/>
					<p><input placeholder="Имя породы на английском" id="breedEn_name" required></p>
					<br/>
					<p><input type="url" placeholder="URL изображения" id="site" required></p>
					<br/>
					<p><textarea rows = "10" cols = "70" placeholder="Краткое описание породы" id="breedDescription" required></textarea></p>
					<br/>
					<button id="addBreedButton">Предложить</button>
				</div>
			<br/>
			</div>
			<div id="delSpoiler" class="spoilerDel">
				<input type="checkbox" >Удалить породу.		
				<div id="deleteBreed" >
					<p><select id="selectDelItem" size="1" >
					<option selected disabled>Выберите породу</option>
					<% data.forEach(function(datum) {%>
						<option class="<%= datum.en_name %>" value="<%= datum.id %>"><%= datum.name %></option>
					<% }); %>
					</select>
					<button id="deleteBreedButton">Удалить</button>
				</div>
			</div>
		</div>
	</body>
</html>